/* ================================= */
/* ---------- COUSTOM COLOR -------- */
/* ================================= */
.color_red,.bg_red{color:#000000;}
.color_yellow{color:#ffcd23}
.btn-light {
  background: #000000;
}
.form_button {
  background: #000000;
  transition: color 1000ms ease 0s, background-color 1500ms ease 0s;
}
.media__body:after,
.media__body:before {
  border: 1px solid #ffcd23;
}
.topbar .booking {
  background: #ffcd23;
}
.navbar-default .navbar-toggle {
	background: #fff;
}
.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
	background-color: #ffcd23;
}
.tp-tab:hover, .tp-tab.selected, 
.tp-thumb:hover, .tp-thumb.selected {
  border-bottom: 3px solid #ffcd23 !important;
}
.tp-tab:hover .tp-tab-title span{
  background:#ffcd23;
}
.tp-tab:hover .tp-tab-title > span, .tp-tab.selected .tp-tab-title > span{ 
  background:#ffcd23; 
}
.tp-tab:hover .tp-tab-title, .tp-tab.selected .tp-tab-title{ 
  color:#ffcd23; 
}
.scrollup {
  background: #000000;
}
.scrollup:hover {
    border: 1px solid #000000;
}
.modal-center h2 {
    color: #ffcd23;
}
.login-modal-btn {
    background: #ffcd23;
 }
 .modal-heading {
    border-left: 5px solid #ffcd23;
}
.modal-title {
    color: #ffcd23;
}
#btn-close-modal {
    border: 1px solid #ffcd23;
    color: #ffcd23;
}
#login .profile-login ul .active > a {
	background:#ffcd23;
}
#login .profile-login .btn-slide {
  background:#ffcd23;
  transition: color 1000ms ease 0s, background-color 1500ms ease 0s;
}
#login .profile-login .lost-pass:hover{
  color:#ffcd23;
}
.overlay-inner > h4 {
  color: #ffcd23;
}
#header_six {
  background: #ffcd23;
}
#popup_login .close {
  background-color: #ffcd23;
}
.form-material .form-control {
    border-bottom: 1px solid #ffcd23;
}
.form-material label {
    color: #ffcd23;
}
.accordion .title a:hover,
.accordion .title a[aria-expanded="true"] {
    background: #ffcd23;
}
.cont_office .btn.btn-default.dropdown-toggle {
  background: #ffcd23;
}
#header_top .cont_office .dropdown-menu > li > a:focus, 
#header_top .cont_office .dropdown-menu > li > a:hover {
  background-color: #ffcd23;
}
.get-tuch.text-left a:hover
 {
  color: #ffcd23;
}
.get-tuch.text-left .fa
 {
  color: #ffcd23;
}
#header_4 nav.navbar.bootsnav .share ul > li > a:hover{
	background:#ffcd23;
}
#header_six .navbar-default .navbar-nav > .active > a, 
#header_six .navbar-default .navbar-nav > .active > a:focus, 
#header_six .navbar-default .navbar-nav > .active > a:hover {
  background-color: #ffcd23;
}
#header_8 .logo {
	background: #ffcd23;
}
#header_8 .logo:after{
	background:#ffcd23 url(../images/logo-bg.png) no-repeat;
}
#header_8 .logo:before {
	background: #ffcd23;
}
#header_8 .quotes a {
	background: #ffcd23;
}
#header_8 .top-info-con h6{
    color: #ffcd23;
}
#header_9 .top_icon .fa {
  color: #fff;
}
#header_one .navbar-default .navbar-nav > li a:hover {
	background-color: #ffcd23;
}
#header_one .navbar-default .navbar-nav > .active > a, #header_one .navbar-default .navbar-nav > .active > a:focus, #header_one .navbar-default .navbar-nav > .active > a:hover {
	background-color: #ffcd23;
}
nav.navbar.bootsnav ul.nav li.megamenu-fw > a:hover, nav.navbar.bootsnav ul.nav li.megamenu-fw > a:focus, nav.navbar.bootsnav ul.nav li.active > a:hover, nav.navbar.bootsnav ul.nav li.active > a:focus, nav.navbar.bootsnav ul.nav li.active > a {
  background-color: #ffcd23;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  background-color: #ffcd23;
}
#header_4 nav.navbar.bootsnav .navbar-toggle {
  background: #ffcd23 !important;
}
.pushmenu{ 
  border-top:5px solid #ffcd23;
}
.pushmenu .push_nav > li > a:hover, .pushmenu  .push_nav > li > a:focus, 
.pushmenu .push_nav > li.active > a{
	color:#ffcd23;
}
#header_7 .social-icons li {
  border: 1px solid #ffcd23;
}
#header_9 .navbar-default .navbar-nav > .active > a, 
#header_9 .navbar-default .navbar-nav > .active > a:focus, 
#header_9 .navbar-default .navbar-nav > .active > a:hover {
  background:#ffcd23;
}
.banner-button-1 {
  background: #ffcd23;
}
.banner-button-1:hover {
  color: #ffcd23;
}
.banner-button-2:hover {
  background: #ffcd23;
  color: #fff;
}
#main-slider .carousel .style {
  color: #ffcd23;
  border:1px solid #ffcd23;
}
#main-slider .carousel .style > span {
  background: #ffcd23;
}
#main-slider .carousel .style > span > span {
  border-color: transparent transparent transparent #ffcd23;
}
#main-slider .carousel .btn-slide:hover{
  border-left:4px solid #ffcd23;
}
#main-slider .carousel .active.btn-slide.animation.animated-item-1 {
  background: #ffcd23 ;
  border-left:4px solid #ffcd23;
}
#main-slider .prev:hover,
#main-slider .next:hover {
  background-color: #ffcd23;
}
#main-slider .carousel-indicators .active{
  background-color: #ffcd23 ;
   border: 1px solid #ffcd23 ;
}

#main-slider .carousel-indicators .active:after {
  background: #ffcd23 ;
  border: 1px solid #ffcd23 ;
}
#home_2 h4 {
  color: #ffcd23;
}
.btn:hover {
    color: #ffcd23;
}
.pur_button-white > a {
  background: #fbb32e;
}
.pur_button-white > a:hover{
  color: #fff;
  background: #000000;
}
#about .btn-slide_about {
	background:#ffcd23;
}
#about .btn-slide_about:hover {
	background: #ffcd23;
}
.page-block h3 {
  color: #000000;
}
.icon-box .icon.icon-dark {
	background-color: #000000;
}
.icon-box .icon.icon-border-effect::after {
	box-shadow: 0 0 0 3px #ffcd23;
}
.line1, .line2 {
  background-color: #ffcd23;
}
.servicesone i {
	background:#ffcd23;
}
.servicesone:hover i {
  color: #ffcd23;
}
.btn-slide {
  background: #ffcd23;
}
.owl-pagination .owl-page > span {
  background: #ffcd23;
 }
 #tabs-section .about-us-box .about-us-post:hover a{
	background:#ffcd23;
}
#tabs-section .about-us-box .about-us-post:hover h4{
	color:#ffcd23;
}
.service-item .fa {
  border: 1px solid #ffcd23;
  color: #ffcd23;
}
.service-item:hover .fa {
  background:#ffcd23;
}
.service-item:hover h3 {
  color: #ffcd23;
}
.features8:hover h3{
	color:#ffcd23;
}
.row.servc {
  background: #ffcd23;
}
.index1-services-box:hover{
	background:#ffcd23;
	transition: all 0.5s ease 0s;
}
#services_index1 .owl-next:hover, #services_index1 .owl-prev:hover {
  color: #ffcd23;
}
#index7_services {
  background: #ffcd23;
}
#project_index .services:hover h3 {
  color: #ffcd23;
}
.services:hover span {
  background: #ffcd23;
  border: 1px solid #ffcd23;
}
.services:hover a {
  border-bottom: 1px solid #ffcd23;
  color: #ffcd23;
}
.services:hover h3 {
  color: #ffcd23;
}
#project_index .services:hover a {
  border-bottom: 1px solid #ffcd23;
  color: #ffcd23;
}
#purchase {
  background: #ffcd23;
}
.work-filter ul li a:hover, .work-filter ul li a.active {
	background-color: #ffcd23;
	border: 1px dotted #ffcd23;
}
.overlay {
	color: #ffcd23 !important;
}
.overlay .line, .product-content .line {
	background-color: #ffcd23;
}

.cbp-l-filters-alignRight .cbp-filter-item.cbp-filter-item-active,
.cbp-l-filters-alignRight .cbp-filter-item:hover, .cbp-l-filters-alignRight .cbp-filter-item:focus{
	color:#ffcd23;
}
.cbp-l-filters-alignRight .cbp-filter-item:before{
  color:#ffcd23;
 }
 .overlay .opens{
	background:#ffcd23;
}
.circle-user {
    border: 3px solid #ffcd23;
    color: #ffcd23;
}
.circle-user i {
    background: #ffcd23;
}
#index1-chose .chose_box i {
  background: #ffcd23;
 }
/*
 #index1-chose .chose_box:hover {
	background:#ffcd23;
}

#index1-chose .chose_box:hover i{
	color: #ffcd23;
}
*/
.gallery-section .slide-item{
	border:1px solid #ffcd23;		
}
.gallery-section .item-caption{
	border-top:2px solid #ffcd23;
}
.slide-item .item-caption h4 strong {
  color: #ffcd23;
}
.gallery-section .owl-next:hover, 
.gallery-section .owl-prev:hover, 
#our-agent-slider .owl-prev:hover, 
#our-agent-slider .owl-next:hover{
  background: #ffcd23;
}
#our-agent .team_text {
  border-top: 4px solid #ffcd23;
}
.team_popup .progress-bar {
  background-color: #ffcd23;
}
#our-agent-slider .item:hover .team_text {
  background: #ffcd23;
}
 #index1-conatcat .index1_adress .fa {
  color:#fff;
}
#index1-conatcat .index1_adress a:hover {
  color:#ffcd23;
}#index1-conatcat .index1_adress a:hover {
  color:#ffcd23;
}
.footer_link > li > a:hover{
  color: #ffcd23;
}
.social-icons li {
  background: #000000;
}
.social-icons li:hover a {
  color: #000000;
}
.header_5 nav.navbar.bootsnav .navbar-toggle {
  background: #ffcd23 !important;
 }
/* ================================= */
/* -------- COUSTOM COLOR RGBA ----- */
/* ================================= */
.servicesone:hover i {
  box-shadow: 0 0 0 5px rgba(255, 205, 35, 0.8) inset;
}