/* ================================= */
/* ---------- Main Nav-Bar  -------- */
/* ================================= */
.brand-logo img{
    width: 130px;
}
nav {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    transition: all 0.3s linear;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
    border-radius: 0px !important;
}
nav:hover {
    background: rgba(255, 205, 35, 1);
    transition: all 0.3s linear;
}
.navbar-nav li a {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
}
.nav>li>a:focus,
.nav>li>a:hover {
    background: transparent;
}
.nav > li.active > a {
    border-bottom: 2px solid #fff;
    transition-duration: 0.4s;
}
.default {
    top: 0;
}
.navbar {
    position: fixed;
}
nav {
    left: 0;
    top: -80px;
    right: 0;
    padding: 10px 0;
    transition: all 0.3s linear;
    height: auto;
    z-index: 99;
}
nav.top-nav-collapse {
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
    opacity: 0.96;
    padding-bottom: 10px;
    padding-top: 10px;
}
.navbar-toggle span {
    background: #fff;
}
#work h2 {
    position: relative;
}
#work h2:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 200px;
    background: #ffcd23;
    left: 41%;
    bottom: -24px;
}
/* ================================= */
/* ---------- Side*Bar Nav  -------- */
/* ================================= */
.transparent{
	background: rgba(0, 0, 0, 0.6);
}
.mob_connection{
	top:0 !important;
	display: none !important;
}
.mobile-sidebar {
    display: none;
}
.offcanvas-nav .nav-head,
.offcanvas-nav .nav-body {
    position: relative;
    z-index: 10;
}
.sidebar {
    z-index: 1000 !important;
}
.sidebar-download-btn {
    margin: 20px 0;
}
.sidebar-head {
    background-image: url(../images/sidebar.jpg);
    background-size: cover;
    padding: 0 0 40px;
}
.sidebar-search {
    background: transperant;
    padding: 0 20px;
}
.sidebar-search .form-material .form-group {
    margin-top: 15px;
}
.sidebar-search .form-material .form-control {
    border-bottom: 1px solid #fff;
}
.sidebar-search .form-material label {
    color: #fff !important;
}
.sidebar-search .form-material .form-control:focus ~ .form-bar:before,
.sidebar-search .form-material .form-control:focus ~ .form-bar:after {
    background: #fff;
}
.search-icon {
    position: absolute;
    top: 1em;
    right: 0;
}
.sidebar-search .form-material .form-control:focus ~ label {
    color: #fff !important;
}
.sidebar-logo {
    display: inline;
    height: 50px;
}
.sidebar-body {
    background: #222;
    overflow: auto;
    border-left: 1px solid #fff;
}
.sidebar-body-white {
    background: #fff;
}
.example-image-link > img {
    border: 1px solid #ccc;
    margin: 10px 0;
    width: 70px;
}
.sidebar-app {
    padding: 30px;
}
.sidebar-app h4 {
    color: #fff;
}
.sidebar-color1 {
    background: rgba(0, 0, 0, 0.24);
}
.sidebar-color2 {
    background: rgba(0, 0, 0, 0.42);
}
.sidebar-color3 {
    background: rgba(0, 9, 0, 0.58);
}
.sidebar-faq .sidebar-app {
    padding: 15px;
    letter-spacing: 10px;
    cursor: pointer;
}
.cd-stretchy-nav a:hover,
.cd-stretchy-nav a:focus,
.cd-stretchy-nav a:after {
    opacity: 0.8;
    color: #fff;
}
.sidebar-search .form-control {
    color: #fff;
}
.sidebar-btn {
    color: #fff;
    font-size: 19px;
    height: 50px;
    padding: 10px;
    width: 50px;
    cursor: pointer;
}
.sidebar-close-btn {
    position: absolute;
    right: 10px;
    top: 20px;
}
.sidebar-icon {
    background: rgba(255, 205, 35, 0.6);
    color: #fff;
    padding: 20px;
    margin: 30px 0;
}
.sidebar-btn:hover {
    color: #fff !important;
    background: transparent !important;
}
.sidebar.right {
    top: 0;
    right: 0;
    bottom: 0;
    width: 370px;
    background: #edf1f2;
}
.sidebars > .sidebar {
    position: fixed;
    text-align: center;
    z-index: 100;
    color: #fff;
}
.sidebar-link a {
    font-size: 1.1em;
    color: #fff;
    font-weight: 400;
    opacity: 0.8;
}
.sidebar-link hr {
    border: none;
    margin: 20px 0 !important;
}
.sidebars hr {
    margin: 10px 0;
}
.sidebar-social-icons li {
    padding: 0 20px !important;
}
.sidebar-social-icons li a {
    color: #fff !important;
}
.sidebar-social-icons li i {
    font-size: 2em !important;
}
.sidebar-tab {
    margin-top: -10px;
}
.sidebar-tab .active,
.sidebar-pill .active {
    border-bottom: none;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    background: #ffcd23;
    border-radius: 0px;
    color: #fff;
    border: none;
}
.nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid transparent;
    border-radius: 0;
	color:#222;
}
.sidebar-signup {
    right: 0;
    position: absolute;
    color: #fff;
    font-size: 15px;
    top: 1em;
}
.sidebar-login {
    position: absolute;
    color: #fff;
    left: 0;
    font-size: 15px;
    top: 1em;
}
.sidebar-blog {
    background: #fff;
    border-bottom: 1px solid #ffcd23;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    padding: 10px 0;
    cursor: pointer;

}
.sidebar-blog .fa-reply {
    padding: 10px;
    position: absolute;
    background: #ffcd23;
    right: 0;
    bottom: -10px;
}
.sidebar-blog .fa-clock-o,
.sidebar-blog span {
    font-size: 12px;
}
.cd-stretchy-nav .stretchy-nav-bg {
    /* Click on add and by this css it will be stretch */
    
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: #9acd91;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -webkit-transition: height 0.2s, box-shadow 0.2s;
    -moz-transition: height 0.2s, box-shadow 0.2s;
    transition: height 0.2s, box-shadow 0.2s;
}
.cd-stretchy-nav.nav-is-visible .stretchy-nav-bg {
    height: 100%;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
}
.cd-nav-trigger {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    /* replace text with image */
    
    overflow: hidden;
    white-space: nowrap;
    color: transparent;
}
.cd-nav-trigger span,
.cd-nav-trigger span::after,
.cd-nav-trigger span::before {
    /* this is the hamburger icon */
    
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #ffffff;
}
.cd-nav-trigger span {
    /* middle line of the hamburger icon */
    
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.cd-nav-trigger span::after,
.cd-nav-trigger span::before {
    /* top and bottom lines of the hamburger icon */
    
    content: '';
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.cd-nav-trigger span::before {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    transform: translateY(-6px);
}
.cd-nav-trigger span::after {
    -webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -o-transform: translateY(6px);
    transform: translateY(6px);
}
.no-touch .cd-nav-trigger:hover ~ .stretchy-nav-bg {
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
}
.nav-is-visible .cd-nav-trigger span {
    background-color: transparent;
}
.nav-is-visible .cd-nav-trigger span::before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.nav-is-visible .cd-nav-trigger span::after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.cd-stretchy-nav ul {
    position: relative;
    z-index: 2;
    padding: 60px 0 0;
    visibility: hidden;
    text-align: right;
}
.cd-stretchy-nav ul a {
    position: relative;
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 calc(1em + 60px) 0 1em;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.4rem;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    transition: color 0.2s;
}
.cd-stretchy-nav ul a::after {
    /* navigation item icons */
    
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    right: 22px;
    top: 50%;
    -webkit-transform: translateY(-50%) scale(0);
    -moz-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    -o-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
    opacity: .6;
}
.cd-stretchy-nav ul a::before {
    /* line visible next to the active navigation item */
    
    content: '';
    position: absolute;
    width: 3px;
    height: 16px;
    top: 50%;
    right: 60px;
    -webkit-transform: translateX(3px) translateY(-50%) scaleY(0);
    -moz-transform: translateX(3px) translateY(-50%) scaleY(0);
    -ms-transform: translateX(3px) translateY(-50%) scaleY(0);
    -o-transform: translateX(3px) translateY(-50%) scaleY(0);
    transform: translateX(3px) translateY(-50%) scaleY(0);
    background-color: #0a9581;
}
.cd-stretchy-nav ul li:first-of-type a::after {
    /* change custom icon using image sprites */
    
    background-position: -32px 0;
}
.cd-stretchy-nav ul li:nth-of-type(2) a::after {
    background-position: -64px 0;
}
.cd-stretchy-nav ul li:nth-of-type(3) a::after {
    background-position: -48px 0;
}
.cd-stretchy-nav ul li:nth-of-type(4) a::after {
    background-position: 0 0;
}
.cd-stretchy-nav ul li:nth-of-type(5) a::after {
    background-position: -16px 0;
}
.cd-stretchy-nav ul span {
    /* navigation item labels */
    
    display: block;
    opacity: 0;
    -webkit-transform: translateX(-25px);
    -moz-transform: translateX(-25px);
    -ms-transform: translateX(-25px);
    -o-transform: translateX(-25px);
    transform: translateX(-25px);
}
.cd-stretchy-nav.nav-is-visible ul {
    visibility: visible;
}
.cd-stretchy-nav.nav-is-visible ul a::after {
    /* navigation item icons */
    
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
    -webkit-animation: scaleIn 0.15s backwards;
    -moz-animation: scaleIn 0.15s backwards;
    animation: scaleIn 0.15s backwards;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
}
.cd-stretchy-nav.nav-is-visible ul a.active {
    color: #ffffff;
}
.cd-stretchy-nav.nav-is-visible ul a.active::after {
    opacity: 1;
}
.cd-stretchy-nav.nav-is-visible ul a.active::before {
    -webkit-transform: translateX(3px) translateY(-50%) scaleY(1);
    -moz-transform: translateX(3px) translateY(-50%) scaleY(1);
    -ms-transform: translateX(3px) translateY(-50%) scaleY(1);
    -o-transform: translateX(3px) translateY(-50%) scaleY(1);
    transform: translateX(3px) translateY(-50%) scaleY(1);
    -webkit-transition: -webkit-transform 0.15s 0.3s;
    -moz-transition: -moz-transform 0.15s 0.3s;
    transition: transform 0.15s 0.3s;
}
.cd-stretchy-nav.nav-is-visible ul span {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation: slideIn 0.15s backwards;
    -moz-animation: slideIn 0.15s backwards;
    animation: slideIn 0.15s backwards;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
}
.no-touch .cd-stretchy-nav.nav-is-visible ul a:hover {
    color: #ffffff;
}
.no-touch .cd-stretchy-nav.nav-is-visible ul a:hover::after {
    opacity: 1;
}
.no-touch .cd-stretchy-nav.nav-is-visible ul a:hover span {
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -o-transform: translateX(-5px);
    transform: translateX(-5px);
}
.cd-stretchy-nav.nav-is-visible ul li:first-of-type a::after,
.cd-stretchy-nav.nav-is-visible ul li:first-of-type span {
    -webkit-animation-delay: 0.05s;
    -moz-animation-delay: 0.05s;
    animation-delay: 0.05s;
}
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(2) a::after,
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(2) span {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s;
}
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(3) a::after,
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(3) span {
    -webkit-animation-delay: 0.15s;
    -moz-animation-delay: 0.15s;
    animation-delay: 0.15s;
}
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(4) a::after,
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(4) span {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(5) a::after,
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(5) span {
    -webkit-animation-delay: 0.25s;
    -moz-animation-delay: 0.25s;
    animation-delay: 0.25s;
}
/* ================================= */
/* ------ Nav Contant Styling  ----- */
/* ================================= */
.cd-stretchy-nav.add-content {
    cursor: pointer;
    bottom: 50px;
    top: auto;
    left: 50%;
    right: auto;
    -webkit-transform: translateY(1em) translateX(2em));
    -moz-transform: translateY(1em) translateX(2em);
    -ms-transform: translateY(1em) translateX(2em);
    -o-transform: translateY(1em) translateX(2em);
    transform: translateY(1em) translateX(2em);
    width: 300px;
}
.cd-stretchy-nav.add-content .stretchy-nav-bg {
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #ffcd23;
    -webkit-transition: width 0.2s, box-shadow 0.2s;
    -moz-transition: width 0.2s, box-shadow 0.2s;
    transition: width 0.2s, box-shadow 0.2s;
}
.cd-stretchy-nav.add-content.nav-is-visible .stretchy-nav-bg {
    width: 100%;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
}
.cd-stretchy-nav.add-content .cd-nav-trigger {
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    box-shadow: -1px -1px 15px 2px rgba(0, 0, 0, 0.1), 0 4px 15px 0 rgba(0, 0, 0, 0.09);
    background: #ffcd23;
}
.cd-stretchy-nav.add-content .cd-nav-trigger span {
    background-color: transparent;
}
.cd-stretchy-nav.add-content .cd-nav-trigger span::before {
    /* used to create the plus icon */
    
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.cd-stretchy-nav.add-content .cd-nav-trigger span::after {
    /* used to create the plus icon */
    
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.cd-stretchy-nav.add-content.nav-is-visible .cd-nav-trigger {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}
.cd-stretchy-nav.add-content.nav-is-visible .cd-nav-trigger span::before {
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.cd-stretchy-nav.add-content.nav-is-visible .cd-nav-trigger span::after {
    -webkit-transform: rotate(-225deg);
    -moz-transform: rotate(-225deg);
    -ms-transform: rotate(-225deg);
    -o-transform: rotate(-225deg);
    transform: rotate(-225deg);
}
.cd-stretchy-nav.add-content ul {
    padding-top: 0;
}
.cd-stretchy-nav.add-content ul::after {
    clear: both;
    content: "";
    display: inline-block;
    height: 55px;
}
.cd-stretchy-nav.add-content ul li {
    display: inline-block;
    float: left;
    width: 60px;
}
.cd-stretchy-nav.add-content ul li:nth-of-type(2) {
    /* space occupied by the navigation trigger */
    
    margin-right: 60px;
}
.cd-stretchy-nav.add-content ul a {
    color: #fff;
    font-size: 25px;
    height: 60px;
    padding: 3px 20px;
    width: 100%;
}
.cd-stretchy-nav.add-content ul a::after {
    top: 50%;
    left: 22px;
    right: auto;
    -webkit-transform: translateY(-50%) scale(0);
    -moz-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    -o-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
}
.cd-stretchy-nav.add-content ul li:first-of-type a::after {
    background-position: -16px 0px;
}
.cd-stretchy-nav.add-content ul li:nth-of-type(2) a::after {
    background-position: 0px 0px;
}
.cd-stretchy-nav.add-content ul li:nth-of-type(3) a::after {
    background-position: -48px 0px;
}
.cd-stretchy-nav.add-content ul li:nth-of-type(4) a::after {
    background-position: -32px 0px;
}
.cd-stretchy-nav.add-content.nav-is-visible ul a::after {
    -webkit-animation-name: scaleIn;
    -moz-animation-name: scaleIn;
    animation-name: scaleIn;
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
}
.cd-stretchy-nav.add-content ul span {
    position: absolute;
    left: 0;
    top: -20px;
    width: 100%;
    padding: 0.6em 0;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    font-size: 1.2rem;
    line-height: 1;
    white-space: nowrap;
    text-align: center;
    -webkit-transition: opacity 0.2s, visibility 0.2s;
    -moz-transition: opacity 0.2s, visibility 0.2s;
    transition: opacity 0.2s, visibility 0.2s;
    /* reset default style */
    
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
.cd-stretchy-nav.add-content ul span::after {
    /* triangle below the tooltip */
    
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 0;
    width: 0;
    border: 4px solid transparent;
    border-top-color: rgba(0, 0, 0, 0.8);
}
.cd-stretchy-nav.add-content.nav-is-visible ul span {
    /* reset default style */
    
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
}
.no-touch .cd-stretchy-nav.add-content.nav-is-visible ul a:hover span {
    opacity: 1;
    visibility: visible;
    /* reset default style */
    
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
.cd-main-content {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    padding: 100px 0;
    background-color: #003c5d;
}

